//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 23 10:41:48 2017
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "P19" LEVEL 1;
COMP "VS" LOCATE = SITE "R19" LEVEL 1;
COMP "R<0>" LOCATE = SITE "M19" LEVEL 1;
COMP "R<1>" LOCATE = SITE "L20" LEVEL 1;
COMP "R<2>" LOCATE = SITE "J20" LEVEL 1;
COMP "R<3>" LOCATE = SITE "G20" LEVEL 1;
COMP "R<4>" LOCATE = SITE "F19" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P20" LEVEL 1;
COMP "B<1>" LOCATE = SITE "M20" LEVEL 1;
COMP "B<2>" LOCATE = SITE "K19" LEVEL 1;
COMP "B<3>" LOCATE = SITE "J18" LEVEL 1;
COMP "B<4>" LOCATE = SITE "G19" LEVEL 1;
COMP "G<0>" LOCATE = SITE "H18" LEVEL 1;
COMP "G<1>" LOCATE = SITE "N20" LEVEL 1;
COMP "G<2>" LOCATE = SITE "L19" LEVEL 1;
COMP "G<3>" LOCATE = SITE "J19" LEVEL 1;
COMP "G<4>" LOCATE = SITE "H20" LEVEL 1;
COMP "G<5>" LOCATE = SITE "F20" LEVEL 1;
COMP "CLK" LOCATE = SITE "L16" LEVEL 1;
PIN cRAM_VIDEO/RAM0_0_pins<32> = BEL "cRAM_VIDEO/RAM0_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM0_1_pins<32> = BEL "cRAM_VIDEO/RAM0_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM0_2_pins<32> = BEL "cRAM_VIDEO/RAM0_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM10_0_pins<32> = BEL "cRAM_VIDEO/RAM10_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM10_1_pins<32> = BEL "cRAM_VIDEO/RAM10_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM10_2_pins<32> = BEL "cRAM_VIDEO/RAM10_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM11_0_pins<32> = BEL "cRAM_VIDEO/RAM11_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM11_1_pins<32> = BEL "cRAM_VIDEO/RAM11_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM11_2_pins<32> = BEL "cRAM_VIDEO/RAM11_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM12_0_pins<32> = BEL "cRAM_VIDEO/RAM12_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM12_1_pins<32> = BEL "cRAM_VIDEO/RAM12_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM12_2_pins<32> = BEL "cRAM_VIDEO/RAM12_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM13_0_pins<32> = BEL "cRAM_VIDEO/RAM13_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM13_1_pins<32> = BEL "cRAM_VIDEO/RAM13_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM13_2_pins<32> = BEL "cRAM_VIDEO/RAM13_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM14_0_pins<32> = BEL "cRAM_VIDEO/RAM14_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM14_1_pins<32> = BEL "cRAM_VIDEO/RAM14_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM14_2_pins<32> = BEL "cRAM_VIDEO/RAM14_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM15_0_pins<32> = BEL "cRAM_VIDEO/RAM15_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM15_1_pins<32> = BEL "cRAM_VIDEO/RAM15_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM15_2_pins<32> = BEL "cRAM_VIDEO/RAM15_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM16_0_pins<32> = BEL "cRAM_VIDEO/RAM16_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM16_1_pins<32> = BEL "cRAM_VIDEO/RAM16_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM16_2_pins<32> = BEL "cRAM_VIDEO/RAM16_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM17_0_pins<32> = BEL "cRAM_VIDEO/RAM17_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM17_1_pins<32> = BEL "cRAM_VIDEO/RAM17_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM17_2_pins<32> = BEL "cRAM_VIDEO/RAM17_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM18_0_pins<32> = BEL "cRAM_VIDEO/RAM18_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM18_1_pins<32> = BEL "cRAM_VIDEO/RAM18_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM18_2_pins<32> = BEL "cRAM_VIDEO/RAM18_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM19_0_pins<32> = BEL "cRAM_VIDEO/RAM19_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM19_1_pins<32> = BEL "cRAM_VIDEO/RAM19_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM19_2_pins<32> = BEL "cRAM_VIDEO/RAM19_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM1_0_pins<32> = BEL "cRAM_VIDEO/RAM1_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM1_1_pins<32> = BEL "cRAM_VIDEO/RAM1_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM1_2_pins<32> = BEL "cRAM_VIDEO/RAM1_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM20_0_pins<32> = BEL "cRAM_VIDEO/RAM20_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM20_1_pins<32> = BEL "cRAM_VIDEO/RAM20_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM20_2_pins<32> = BEL "cRAM_VIDEO/RAM20_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM21_0_pins<32> = BEL "cRAM_VIDEO/RAM21_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM21_1_pins<32> = BEL "cRAM_VIDEO/RAM21_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM21_2_pins<32> = BEL "cRAM_VIDEO/RAM21_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM22_0_pins<32> = BEL "cRAM_VIDEO/RAM22_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM22_1_pins<32> = BEL "cRAM_VIDEO/RAM22_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM22_2_pins<32> = BEL "cRAM_VIDEO/RAM22_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM23_0_pins<32> = BEL "cRAM_VIDEO/RAM23_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM23_1_pins<32> = BEL "cRAM_VIDEO/RAM23_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM23_2_pins<32> = BEL "cRAM_VIDEO/RAM23_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM24_0_pins<32> = BEL "cRAM_VIDEO/RAM24_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM24_1_pins<32> = BEL "cRAM_VIDEO/RAM24_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM24_2_pins<32> = BEL "cRAM_VIDEO/RAM24_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM25_0_pins<32> = BEL "cRAM_VIDEO/RAM25_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM25_1_pins<32> = BEL "cRAM_VIDEO/RAM25_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM25_2_pins<32> = BEL "cRAM_VIDEO/RAM25_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM26_0_pins<32> = BEL "cRAM_VIDEO/RAM26_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM26_1_pins<32> = BEL "cRAM_VIDEO/RAM26_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM26_2_pins<32> = BEL "cRAM_VIDEO/RAM26_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM27_0_pins<32> = BEL "cRAM_VIDEO/RAM27_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM27_1_pins<32> = BEL "cRAM_VIDEO/RAM27_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM27_2_pins<32> = BEL "cRAM_VIDEO/RAM27_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM28_0_pins<32> = BEL "cRAM_VIDEO/RAM28_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM28_1_pins<32> = BEL "cRAM_VIDEO/RAM28_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM28_2_pins<32> = BEL "cRAM_VIDEO/RAM28_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM29_0_pins<32> = BEL "cRAM_VIDEO/RAM29_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM29_1_pins<32> = BEL "cRAM_VIDEO/RAM29_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM29_2_pins<32> = BEL "cRAM_VIDEO/RAM29_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM2_0_pins<32> = BEL "cRAM_VIDEO/RAM2_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM2_1_pins<32> = BEL "cRAM_VIDEO/RAM2_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM2_2_pins<32> = BEL "cRAM_VIDEO/RAM2_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM30_0_pins<32> = BEL "cRAM_VIDEO/RAM30_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM30_1_pins<32> = BEL "cRAM_VIDEO/RAM30_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM30_2_pins<32> = BEL "cRAM_VIDEO/RAM30_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM31_0_pins<32> = BEL "cRAM_VIDEO/RAM31_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM31_1_pins<32> = BEL "cRAM_VIDEO/RAM31_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM31_2_pins<32> = BEL "cRAM_VIDEO/RAM31_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM32_0_pins<32> = BEL "cRAM_VIDEO/RAM32_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM32_1_pins<32> = BEL "cRAM_VIDEO/RAM32_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM32_2_pins<32> = BEL "cRAM_VIDEO/RAM32_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM33_0_pins<32> = BEL "cRAM_VIDEO/RAM33_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM33_1_pins<32> = BEL "cRAM_VIDEO/RAM33_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM33_2_pins<32> = BEL "cRAM_VIDEO/RAM33_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM34_0_pins<32> = BEL "cRAM_VIDEO/RAM34_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM34_1_pins<32> = BEL "cRAM_VIDEO/RAM34_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM34_2_pins<32> = BEL "cRAM_VIDEO/RAM34_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM35_0_pins<32> = BEL "cRAM_VIDEO/RAM35_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM35_1_pins<32> = BEL "cRAM_VIDEO/RAM35_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM35_2_pins<32> = BEL "cRAM_VIDEO/RAM35_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM36_0_pins<32> = BEL "cRAM_VIDEO/RAM36_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM36_1_pins<32> = BEL "cRAM_VIDEO/RAM36_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM36_2_pins<32> = BEL "cRAM_VIDEO/RAM36_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM37_0_pins<32> = BEL "cRAM_VIDEO/RAM37_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM37_1_pins<32> = BEL "cRAM_VIDEO/RAM37_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM37_2_pins<32> = BEL "cRAM_VIDEO/RAM37_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM3_0_pins<32> = BEL "cRAM_VIDEO/RAM3_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM3_1_pins<32> = BEL "cRAM_VIDEO/RAM3_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM3_2_pins<32> = BEL "cRAM_VIDEO/RAM3_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM4_0_pins<32> = BEL "cRAM_VIDEO/RAM4_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM4_1_pins<32> = BEL "cRAM_VIDEO/RAM4_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM4_2_pins<32> = BEL "cRAM_VIDEO/RAM4_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM5_0_pins<32> = BEL "cRAM_VIDEO/RAM5_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM5_1_pins<32> = BEL "cRAM_VIDEO/RAM5_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM5_2_pins<32> = BEL "cRAM_VIDEO/RAM5_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM6_0_pins<32> = BEL "cRAM_VIDEO/RAM6_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM6_1_pins<32> = BEL "cRAM_VIDEO/RAM6_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM6_2_pins<32> = BEL "cRAM_VIDEO/RAM6_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM7_0_pins<32> = BEL "cRAM_VIDEO/RAM7_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM7_1_pins<32> = BEL "cRAM_VIDEO/RAM7_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM7_2_pins<32> = BEL "cRAM_VIDEO/RAM7_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM8_0_pins<32> = BEL "cRAM_VIDEO/RAM8_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM8_1_pins<32> = BEL "cRAM_VIDEO/RAM8_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM8_2_pins<32> = BEL "cRAM_VIDEO/RAM8_2" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM9_0_pins<32> = BEL "cRAM_VIDEO/RAM9_0" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM9_1_pins<32> = BEL "cRAM_VIDEO/RAM9_1" PINNAME CLKARDCLK;
PIN cRAM_VIDEO/RAM9_2_pins<32> = BEL "cRAM_VIDEO/RAM9_2" PINNAME CLKARDCLK;
TIMEGRP sys_clk_pin = BEL "cGeneRGB/reg/q_1" BEL "cGeneRGB/reg/q_0" BEL
        "cGeneSync/comptY_8" BEL "cGeneSync/comptY_7" BEL "cGeneSync/comptY_6"
        BEL "cGeneSync/comptY_5" BEL "cGeneSync/comptY_4" BEL
        "cGeneSync/comptY_3" BEL "cGeneSync/comptY_2" BEL "cGeneSync/comptY_1"
        BEL "cGeneSync/comptY_0" BEL "cGeneSync/comptX_9" BEL
        "cGeneSync/comptX_8" BEL "cGeneSync/comptX_7" BEL "cGeneSync/comptX_6"
        BEL "cGeneSync/comptX_5" BEL "cGeneSync/comptX_4" BEL
        "cGeneSync/comptX_3" BEL "cGeneSync/comptX_2" BEL "cGeneSync/comptX_1"
        BEL "cGeneSync/comptX_0" BEL "cGeneSync/comptJ_1" BEL
        "cGeneSync/comptJ_0" BEL "cGeneSync/comptCLK_2" BEL
        "cGeneSync/comptCLK_1" BEL "cGeneSync/comptCLK_0" BEL
        "cGeneSync/comptI_1" BEL "cGeneSync/comptI_0" BEL "CLK_BUFGP/BUFG" PIN
        "cRAM_VIDEO/RAM0_0_pins<32>" PIN "cRAM_VIDEO/RAM0_1_pins<32>" PIN
        "cRAM_VIDEO/RAM0_2_pins<32>" PIN "cRAM_VIDEO/RAM10_0_pins<32>" PIN
        "cRAM_VIDEO/RAM10_1_pins<32>" PIN "cRAM_VIDEO/RAM10_2_pins<32>" PIN
        "cRAM_VIDEO/RAM11_0_pins<32>" PIN "cRAM_VIDEO/RAM11_1_pins<32>" PIN
        "cRAM_VIDEO/RAM11_2_pins<32>" PIN "cRAM_VIDEO/RAM12_0_pins<32>" PIN
        "cRAM_VIDEO/RAM12_1_pins<32>" PIN "cRAM_VIDEO/RAM12_2_pins<32>" PIN
        "cRAM_VIDEO/RAM13_0_pins<32>" PIN "cRAM_VIDEO/RAM13_1_pins<32>" PIN
        "cRAM_VIDEO/RAM13_2_pins<32>" PIN "cRAM_VIDEO/RAM14_0_pins<32>" PIN
        "cRAM_VIDEO/RAM14_1_pins<32>" PIN "cRAM_VIDEO/RAM14_2_pins<32>" PIN
        "cRAM_VIDEO/RAM15_0_pins<32>" PIN "cRAM_VIDEO/RAM15_1_pins<32>" PIN
        "cRAM_VIDEO/RAM15_2_pins<32>" PIN "cRAM_VIDEO/RAM16_0_pins<32>" PIN
        "cRAM_VIDEO/RAM16_1_pins<32>" PIN "cRAM_VIDEO/RAM16_2_pins<32>" PIN
        "cRAM_VIDEO/RAM17_0_pins<32>" PIN "cRAM_VIDEO/RAM17_1_pins<32>" PIN
        "cRAM_VIDEO/RAM17_2_pins<32>" PIN "cRAM_VIDEO/RAM18_0_pins<32>" PIN
        "cRAM_VIDEO/RAM18_1_pins<32>" PIN "cRAM_VIDEO/RAM18_2_pins<32>" PIN
        "cRAM_VIDEO/RAM19_0_pins<32>" PIN "cRAM_VIDEO/RAM19_1_pins<32>" PIN
        "cRAM_VIDEO/RAM19_2_pins<32>" PIN "cRAM_VIDEO/RAM1_0_pins<32>" PIN
        "cRAM_VIDEO/RAM1_1_pins<32>" PIN "cRAM_VIDEO/RAM1_2_pins<32>" PIN
        "cRAM_VIDEO/RAM20_0_pins<32>" PIN "cRAM_VIDEO/RAM20_1_pins<32>" PIN
        "cRAM_VIDEO/RAM20_2_pins<32>" PIN "cRAM_VIDEO/RAM21_0_pins<32>" PIN
        "cRAM_VIDEO/RAM21_1_pins<32>" PIN "cRAM_VIDEO/RAM21_2_pins<32>" PIN
        "cRAM_VIDEO/RAM22_0_pins<32>" PIN "cRAM_VIDEO/RAM22_1_pins<32>" PIN
        "cRAM_VIDEO/RAM22_2_pins<32>" PIN "cRAM_VIDEO/RAM23_0_pins<32>" PIN
        "cRAM_VIDEO/RAM23_1_pins<32>" PIN "cRAM_VIDEO/RAM23_2_pins<32>" PIN
        "cRAM_VIDEO/RAM24_0_pins<32>" PIN "cRAM_VIDEO/RAM24_1_pins<32>" PIN
        "cRAM_VIDEO/RAM24_2_pins<32>" PIN "cRAM_VIDEO/RAM25_0_pins<32>" PIN
        "cRAM_VIDEO/RAM25_1_pins<32>" PIN "cRAM_VIDEO/RAM25_2_pins<32>" PIN
        "cRAM_VIDEO/RAM26_0_pins<32>" PIN "cRAM_VIDEO/RAM26_1_pins<32>" PIN
        "cRAM_VIDEO/RAM26_2_pins<32>" PIN "cRAM_VIDEO/RAM27_0_pins<32>" PIN
        "cRAM_VIDEO/RAM27_1_pins<32>" PIN "cRAM_VIDEO/RAM27_2_pins<32>" PIN
        "cRAM_VIDEO/RAM28_0_pins<32>" PIN "cRAM_VIDEO/RAM28_1_pins<32>" PIN
        "cRAM_VIDEO/RAM28_2_pins<32>" PIN "cRAM_VIDEO/RAM29_0_pins<32>" PIN
        "cRAM_VIDEO/RAM29_1_pins<32>" PIN "cRAM_VIDEO/RAM29_2_pins<32>" PIN
        "cRAM_VIDEO/RAM2_0_pins<32>" PIN "cRAM_VIDEO/RAM2_1_pins<32>" PIN
        "cRAM_VIDEO/RAM2_2_pins<32>" PIN "cRAM_VIDEO/RAM30_0_pins<32>" PIN
        "cRAM_VIDEO/RAM30_1_pins<32>" PIN "cRAM_VIDEO/RAM30_2_pins<32>" PIN
        "cRAM_VIDEO/RAM31_0_pins<32>" PIN "cRAM_VIDEO/RAM31_1_pins<32>" PIN
        "cRAM_VIDEO/RAM31_2_pins<32>" PIN "cRAM_VIDEO/RAM32_0_pins<32>" PIN
        "cRAM_VIDEO/RAM32_1_pins<32>" PIN "cRAM_VIDEO/RAM32_2_pins<32>" PIN
        "cRAM_VIDEO/RAM33_0_pins<32>" PIN "cRAM_VIDEO/RAM33_1_pins<32>" PIN
        "cRAM_VIDEO/RAM33_2_pins<32>" PIN "cRAM_VIDEO/RAM34_0_pins<32>" PIN
        "cRAM_VIDEO/RAM34_1_pins<32>" PIN "cRAM_VIDEO/RAM34_2_pins<32>" PIN
        "cRAM_VIDEO/RAM35_0_pins<32>" PIN "cRAM_VIDEO/RAM35_1_pins<32>" PIN
        "cRAM_VIDEO/RAM35_2_pins<32>" PIN "cRAM_VIDEO/RAM36_0_pins<32>" PIN
        "cRAM_VIDEO/RAM36_1_pins<32>" PIN "cRAM_VIDEO/RAM36_2_pins<32>" PIN
        "cRAM_VIDEO/RAM37_0_pins<32>" PIN "cRAM_VIDEO/RAM37_1_pins<32>" PIN
        "cRAM_VIDEO/RAM37_2_pins<32>" PIN "cRAM_VIDEO/RAM3_0_pins<32>" PIN
        "cRAM_VIDEO/RAM3_1_pins<32>" PIN "cRAM_VIDEO/RAM3_2_pins<32>" PIN
        "cRAM_VIDEO/RAM4_0_pins<32>" PIN "cRAM_VIDEO/RAM4_1_pins<32>" PIN
        "cRAM_VIDEO/RAM4_2_pins<32>" PIN "cRAM_VIDEO/RAM5_0_pins<32>" PIN
        "cRAM_VIDEO/RAM5_1_pins<32>" PIN "cRAM_VIDEO/RAM5_2_pins<32>" PIN
        "cRAM_VIDEO/RAM6_0_pins<32>" PIN "cRAM_VIDEO/RAM6_1_pins<32>" PIN
        "cRAM_VIDEO/RAM6_2_pins<32>" PIN "cRAM_VIDEO/RAM7_0_pins<32>" PIN
        "cRAM_VIDEO/RAM7_1_pins<32>" PIN "cRAM_VIDEO/RAM7_2_pins<32>" PIN
        "cRAM_VIDEO/RAM8_0_pins<32>" PIN "cRAM_VIDEO/RAM8_1_pins<32>" PIN
        "cRAM_VIDEO/RAM8_2_pins<32>" PIN "cRAM_VIDEO/RAM9_0_pins<32>" PIN
        "cRAM_VIDEO/RAM9_1_pins<32>" PIN "cRAM_VIDEO/RAM9_2_pins<32>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 125 MHz HIGH 50%;
SCHEMATIC END;

