//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 07 10:26:58 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "L16" LEVEL 1;
COMP "B<0>" LOCATE = SITE "G15" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "B<2>" LOCATE = SITE "W13" LEVEL 1;
COMP "B<3>" LOCATE = SITE "T16" LEVEL 1;
COMP "B<4>" LOCATE = SITE "V16" LEVEL 1;
COMP "B<5>" LOCATE = SITE "Y16" LEVEL 1;
COMP "start" LOCATE = SITE "P16" LEVEL 1;
COMP "reset" LOCATE = SITE "R18" LEVEL 1;
COMP "aff<0>" LOCATE = SITE "M14" LEVEL 1;
COMP "aff<1>" LOCATE = SITE "M15" LEVEL 1;
COMP "aff<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "aff<3>" LOCATE = SITE "D18" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "i_PGCD/i_PO/registreB/Q_7" BEL
        "i_PGCD/i_PO/registreB/Q_6" BEL "i_PGCD/i_PO/registreB/Q_5" BEL
        "i_PGCD/i_PO/registreB/Q_4" BEL "i_PGCD/i_PO/registreB/Q_3" BEL
        "i_PGCD/i_PO/registreB/Q_2" BEL "i_PGCD/i_PO/registreB/Q_1" BEL
        "i_PGCD/i_PO/registreB/Q_0" BEL "i_PGCD/i_PO/registreA/Q_7" BEL
        "i_PGCD/i_PO/registreA/Q_6" BEL "i_PGCD/i_PO/registreA/Q_5" BEL
        "i_PGCD/i_PO/registreA/Q_4" BEL "i_PGCD/i_PO/registreA/Q_3" BEL
        "i_PGCD/i_PO/registreA/Q_2" BEL "i_PGCD/i_PO/registreA/Q_1" BEL
        "i_PGCD/i_PO/registreA/Q_0" BEL "regA/Q_7" BEL "regA/Q_6" BEL
        "regA/Q_5" BEL "regA/Q_4" BEL "regA/Q_3" BEL "regA/Q_2" BEL "regA/Q_1"
        BEL "regA/Q_0" BEL "i_PGCD/i_PC/b_init/Q" BEL "i_PGCD/i_PC/b_dnd/Q"
        BEL "i_PGCD/i_PC/b_test/Q" BEL "i_PGCD/i_PC/b_AB/Q" BEL
        "i_PGCD/i_PC/b_BA/Q" BEL "i_PGCD/i_PC/b_wait/Q" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 125 MHz HIGH 50%;
SCHEMATIC END;

